@using ModelLayer
@model IEnumerable<ModelLayer.ResponseDTO.AlbumResponseDTO> 

@{
    ViewData["Title"] = "Home Page";
}

<div class="form-horizontal">  
  
    <hr />  
    <div class="form-group">  
  
  
        <table class="table table-responsive" style="width:1000px">  
            <tr>  
                <th>  
                    albums 
                </th>  
                
                  
            </tr>  
  
            @foreach (var item in Model) {  
                <tr>  
                    <td>  
                        <button class="accordion">@Html.DisplayFor(modelItem => item.name) </button>  
                        <div class="panel">
                         <table class="table table-responsive" style="width:1000px">
                             <tr>
                                 <th>
                                     photo
                                 </th>
                                 <th>
                                     name
                                 </th>
                                 <th>
                                     description
                                 </th>
                                 <th>
                                                                                                       notas
                                                                                                       </th>
                                 @foreach (var itemPhoto in item.photos)
                                 {
                                     
                                     <tr>
                                         <td>
                                             <img src="@Html.DisplayFor(model => itemPhoto.Url) " alt="Girl in a jacket" width="100" height="100">
                                         </td>
                                         <td>
                                             <p>@Html.DisplayFor(model => itemPhoto.name) </p>
                                         </td>
                                         <td>
                                             <p>@Html.DisplayFor(model => itemPhoto.description) </p>
                                         </td>
                                         <td>
                                             <select>
                                                 
                                             
                                             @foreach (var itemComments in itemPhoto.comments)
                                             {
                                                 
                                              @if (itemPhoto.comments != null)
                                              {
                                                  <option>
                                                  @Html.DisplayFor(model => itemComments.datePublish)  @Html.DisplayFor(model => itemComments.content) 
                                                                                                       </option>
                                              } 
                                             }
                                             </select>
                                             </td>
                                     </tr>
                                 



                                 }
                             </tr>
                             </table> 
                        </div>
                    </td>
                </tr>  
            }  
  
        </table>  
    </div>  
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
    </script>
</div>


<style>
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }
    
    .active, .accordion:hover {
      background-color: #ccc; 
    }
    
    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
</style>


